<h1>Heroes</h1>
<hr>
<div class="row">
    <div class="col-md-12 text-right">
        <button [routerLink]="['/heroe','nuevo']" class="btn btn-outline-primary">Nuevo heroe</button>
    </div>
</div>
<br>
<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Casa</th>
                        <th>Bio</th>
                        <th class="text-right w120">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of heroes | keys; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ heroes[k].nombre }}</td>
                        <td>{{ heroes[k].casa }}</td>
                        <td>{{ heroes[k].bio }}</td>
                        <td>
                            <button class="btn btn-outline-success m-r" [routerLink]="['/heroe', k]">Editar</button>
                            <button class="btn btn-outline-danger" [swal]="borrar">Eliminar</button>
                            <swal #borrar type="question" title="¿Seguro quieres borrar este héroe?" showCancelButton="true" confirmButtonText="Si" cancelButtonText="No" (confirm)="borrarHeroe(k)">
                            </swal>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="(heroes | keys).length === 0 && !loading" class="alert alert-info" role="alert">
                <strong>No hay</strong> registros que mostrar
            </div>
            <div *ngIf="loading" class="alert alert-warning" role="alert">
                <strong>Cargando...</strong> por favor espere
            </div>
        </div>
    </div>
</div>